## Project Tilte: Implement news paper scraper and create ML pipeline

### Part 1: Web scaping

In [1]:
import pandas as pd
import glob
import os
import itertools
import requests
import os.path as path
import numpy as np
import re

from functools import reduce
from bs4 import BeautifulSoup
from datetime import datetime

In [2]:
if path.exists('../input_data/news_paper_data.csv'):
    df = pd.read_csv('../input_data/news_paper_data.csv')
else:
    columns = ['node_id','title', 'date', 'url','category', 'article']
    df = pd.DataFrame(columns=columns)

In [3]:
df.head()

,node_id,title,date,url,category,article
0,3074331,Consumer rights body’s oil price monitoring st...,19-07-2022,/business/news/consumer-rights-bodys-oil-price...,business,The Directorate of National Consumer Rights Pr...
1,3074126,Chattogram shares bleed for another day,19-07-2022,/business/news/chattogram-shares-bleed-another...,business,Shares on the Chittagong Stock Exchange (CSE) ...
2,3073706,bKash’s instant add money service at Dev Bank,19-07-2022,/business/organisation-news/news/bkashs-instan...,business,Clients of Bangladesh Development Bank (BDB) c...
3,3074291,Textile millers demand 360 days for deferred L...,19-07-2022,/business/news/textile-millers-demand-360-days...,business,The leaders of Bangladesh Textile Mills Associ...
4,3074276,"Tk 25,000 crore refinance scheme unveiled for ...",19-07-2022,/business/news/tk-25000-crore-refinance-scheme...,business,"Bangladesh Bank today unveiled a Tk 25,000 cro..."

In [4]:
print(f'Check previous data: {len(df)}')

Check previous data: 164

In [5]:
# base url of the news paper
base_url = 'https://www.thedailystar.net'

# all important categories
categories = ['business', 'sports', 'entertainment']

# counts new entry using this run
new_count = 0

for category in categories:
    
    #print(base_url+category)
    page = requests.get(base_url+'/'+category)
    
    soup = BeautifulSoup(page.content, 'html.parser')
    
    # to analyze the newspaper I got all the headline of intended categories are under h2 or h3 tag
    temp_h2 = soup.find_all('h2')
    temp_h3 = soup.find_all('h3')

    all_url = temp_h2 + temp_h3

    for data in all_url:
        temp_d = data.find('a')

        url = str(temp_d.get('href'))
        title = temp_d.get_text()

        # check its on the category or not
        url_arr = url.split('/')

        url_arr = [d for d in url_arr if len(d.strip())>0]

        if category in url_arr[0]:

            # check url has a node id or not
            last_part = str(url_arr[len(url_arr)-1])

            if '-' in last_part:
                lp_arr = last_part.split('-')
                node_id = str(lp_arr[len(lp_arr)-1])

                if node_id.isnumeric():
                    if node_id not in set(df.node_id):
                        new_count += 1
                        df = df.append({'node_id': node_id, 'title': title, 'url': url, 'category': category}, 
                                       ignore_index=True)

            # is else part we can get the sub-categories
df.head()

,node_id,title,date,url,category,article
0,3074331,Consumer rights body’s oil price monitoring st...,19-07-2022,/business/news/consumer-rights-bodys-oil-price...,business,The Directorate of National Consumer Rights Pr...
1,3074126,Chattogram shares bleed for another day,19-07-2022,/business/news/chattogram-shares-bleed-another...,business,Shares on the Chittagong Stock Exchange (CSE) ...
2,3073706,bKash’s instant add money service at Dev Bank,19-07-2022,/business/organisation-news/news/bkashs-instan...,business,Clients of Bangladesh Development Bank (BDB) c...
3,3074291,Textile millers demand 360 days for deferred L...,19-07-2022,/business/news/textile-millers-demand-360-days...,business,The leaders of Bangladesh Textile Mills Associ...
4,3074276,"Tk 25,000 crore refinance scheme unveiled for ...",19-07-2022,/business/news/tk-25000-crore-refinance-scheme...,business,"Bangladesh Bank today unveiled a Tk 25,000 cro..."

In [6]:
print(f'Total Number of data points are: {len(df)}')
print(f'New data point added: {new_count}')

Total Number of data points are: 245
New data point added: 81

In [7]:
df.tail()

,node_id,title,date,url,category,article
240,3075111,The Colors of Youth: celebrating art across co...,NaN,/entertainment/theatre-arts/news/the-colors-yo...,entertainment,NaN
241,3074206,Portraying the bucolic beauty of Bangladesh,NaN,/entertainment/theatre-arts/news/portraying-th...,entertainment,NaN
242,3074006,Prachyanat to stage ‘Dumurkheko Manush’ today,NaN,/entertainment/theatre-arts/news/prachyanat-st...,entertainment,NaN
243,3066871,‘Beckoning Horizon’: Azmeer Hossain’s exhibit...,NaN,/entertainment/theatre-arts/news/beckoning-hor...,entertainment,NaN
244,3065521,Drik hosts regional photo contest in partnersh...,NaN,/entertainment/theatre-arts/news/drik-hosts-re...,entertainment,NaN

In [8]:
def article_parser(soup, node_id):
    
    article_context = soup.find(id="node-"+node_id)

    article = ''
    only_date = ''

    try:
        dt_context = article_context.find("div", {"class": "date text-10"}).get_text()
        dt_input_arr = str(dt_context).split('Last update on:')
        dt_input = str(dt_input_arr[1]).strip().replace(',', '')

        dt_arr = dt_input.split(' ')
        only_date = dt_arr[1] + '-' + dt_arr[2] + '-' + dt_arr[3]

        only_date = datetime.strptime(only_date, '%b-%d-%Y').strftime('%d-%m-%Y')
        
    except Exception as ex:
        print(f'Error: {str(ex)}')

    for paragraph in article_context.find_all('p'):
        text = paragraph.get_text()
        
        if len(text) > 0:
            article = article + ' ' + text
    
    return only_date, article.strip()

In [11]:
date_list = []
article_list = []

for index, row in df.iterrows():
    node_id = row['node_id']
    
    if row['article'] in (None, '', np.NaN, np.nan):
        
        print(f'Running {index+1}th obserbation, Fetching data for article id: {node_id} ... ... ...')
        
        #hit to get a particular article
        new_page = requests.get(base_url+row['url'])
        
        # get the content of the article
        current_soup = BeautifulSoup(new_page.content, 'html.parser')

        results = article_parser(current_soup, node_id)
        
        df.at[index, 'date'] = results[0]
        df.at[index, 'article'] = results[1]

Running 165th obserbation, Fetching data for article id: 3076556 ... ... ...
Running 166th obserbation, Fetching data for article id: 3076551 ... ... ...
Running 167th obserbation, Fetching data for article id: 3076416 ... ... ...
Running 168th obserbation, Fetching data for article id: 3076546 ... ... ...
Running 169th obserbation, Fetching data for article id: 3076541 ... ... ...
Running 170th obserbation, Fetching data for article id: 3076531 ... ... ...
Running 171th obserbation, Fetching data for article id: 3076526 ... ... ...
Running 172th obserbation, Fetching data for article id: 3076516 ... ... ...
Running 173th obserbation, Fetching data for article id: 3076501 ... ... ...
Running 174th obserbation, Fetching data for article id: 3076491 ... ... ...
Running 175th obserbation, Fetching data for article id: 3076206 ... ... ...
Running 176th obserbation, Fetching data for article id: 3076476 ... ... ...
Running 177th obserbation, Fetching data for article id: 3076471 ... ... ...
Running 178th obserbation, Fetching data for article id: 3076466 ... ... ...
Running 179th obserbation, Fetching data for article id: 3076481 ... ... ...
Running 180th obserbation, Fetching data for article id: 3076441 ... ... ...
Running 181th obserbation, Fetching data for article id: 3076436 ... ... ...
Running 182th obserbation, Fetching data for article id: 3076381 ... ... ...
Running 183th obserbation, Fetching data for article id: 3075536 ... ... ...
Running 184th obserbation, Fetching data for article id: 3075531 ... ... ...
Running 185th obserbation, Fetching data for article id: 3076411 ... ... ...
Running 186th obserbation, Fetching data for article id: 3076396 ... ... ...
Running 187th obserbation, Fetching data for article id: 3076386 ... ... ...
Running 188th obserbation, Fetching data for article id: 3076376 ... ... ...
Running 189th obserbation, Fetching data for article id: 3076846 ... ... ...
Running 190th obserbation, Fetching data for article id: 3076616 ... ... ...
Running 191th obserbation, Fetching data for article id: 3076691 ... ... ...
Running 192th obserbation, Fetching data for article id: 3076181 ... ... ...
Running 193th obserbation, Fetching data for article id: 3075911 ... ... ...
Running 194th obserbation, Fetching data for article id: 3076781 ... ... ...
Running 195th obserbation, Fetching data for article id: 3076866 ... ... ...
Running 196th obserbation, Fetching data for article id: 3076721 ... ... ...
Running 197th obserbation, Fetching data for article id: 3076661 ... ... ...
Running 198th obserbation, Fetching data for article id: 3076401 ... ... ...
Running 199th obserbation, Fetching data for article id: 3076191 ... ... ...
Running 200th obserbation, Fetching data for article id: 3076176 ... ... ...
Running 201th obserbation, Fetching data for article id: 3076146 ... ... ...
Running 202th obserbation, Fetching data for article id: 3076116 ... ... ...
Running 203th obserbation, Fetching data for article id: 3076046 ... ... ...
Running 204th obserbation, Fetching data for article id: 3076026 ... ... ...
Running 205th obserbation, Fetching data for article id: 3075976 ... ... ...
Running 206th obserbation, Fetching data for article id: 3076656 ... ... ...
Running 207th obserbation, Fetching data for article id: 3076636 ... ... ...
Running 208th obserbation, Fetching data for article id: 3076631 ... ... ...
Running 209th obserbation, Fetching data for article id: 3076621 ... ... ...
Running 210th obserbation, Fetching data for article id: 3076511 ... ... ...
Running 211th obserbation, Fetching data for article id: 3076196 ... ... ...
Running 212th obserbation, Fetching data for article id: 3076186 ... ... ...
Running 213th obserbation, Fetching data for article id: 3076076 ... ... ...
Running 214th obserbation, Fetching data for article id: 3075841 ... ... ...
Running 215th obserbation, Fetching data for article id: 3075721 ... ... ...
Running 216th obserbation, Fetching data for article id: 3074956 ... ... ...
Running 217th obserbation, Fetching data for article id: 3074466 ... ... ...
Running 218th obserbation, Fetching data for article id: 3074201 ... ... ...
Running 219th obserbation, Fetching data for article id: 3074031 ... ... ...
Running 220th obserbation, Fetching data for article id: 3073571 ... ... ...
Running 221th obserbation, Fetching data for article id: 3073046 ... ... ...
Running 222th obserbation, Fetching data for article id: 3075966 ... ... ...
Running 223th obserbation, Fetching data for article id: 3075916 ... ... ...
Running 224th obserbation, Fetching data for article id: 3076826 ... ... ...
Running 225th obserbation, Fetching data for article id: 3076741 ... ... ...
Running 226th obserbation, Fetching data for article id: 3076696 ... ... ...
Running 227th obserbation, Fetching data for article id: 3076626 ... ... ...
Running 228th obserbation, Fetching data for article id: 3076811 ... ... ...
Running 229th obserbation, Fetching data for article id: 3076671 ... ... ...
Running 230th obserbation, Fetching data for article id: 3076681 ... ... ...
Running 231th obserbation, Fetching data for article id: 3076226 ... ... ...
Running 232th obserbation, Fetching data for article id: 3075961 ... ... ...
Running 233th obserbation, Fetching data for article id: 3075951 ... ... ...
Running 234th obserbation, Fetching data for article id: 3075901 ... ... ...
Running 235th obserbation, Fetching data for article id: 3075816 ... ... ...
Running 236th obserbation, Fetching data for article id: 3075126 ... ... ...
Running 237th obserbation, Fetching data for article id: 3074926 ... ... ...
Running 238th obserbation, Fetching data for article id: 3074356 ... ... ...
Running 239th obserbation, Fetching data for article id: 3073521 ... ... ...
Running 240th obserbation, Fetching data for article id: 3075121 ... ... ...
Running 241th obserbation, Fetching data for article id: 3075111 ... ... ...
Running 242th obserbation, Fetching data for article id: 3074206 ... ... ...
Running 243th obserbation, Fetching data for article id: 3074006 ... ... ...
Running 244th obserbation, Fetching data for article id: 3066871 ... ... ...
Running 245th obserbation, Fetching data for article id: 3065521 ... ... ...

In [12]:
df.head()

,node_id,title,date,url,category,article
0,3074331,Consumer rights body’s oil price monitoring st...,19-07-2022,/business/news/consumer-rights-bodys-oil-price...,business,The Directorate of National Consumer Rights Pr...
1,3074126,Chattogram shares bleed for another day,19-07-2022,/business/news/chattogram-shares-bleed-another...,business,Shares on the Chittagong Stock Exchange (CSE) ...
2,3073706,bKash’s instant add money service at Dev Bank,19-07-2022,/business/organisation-news/news/bkashs-instan...,business,Clients of Bangladesh Development Bank (BDB) c...
3,3074291,Textile millers demand 360 days for deferred L...,19-07-2022,/business/news/textile-millers-demand-360-days...,business,The leaders of Bangladesh Textile Mills Associ...
4,3074276,"Tk 25,000 crore refinance scheme unveiled for ...",19-07-2022,/business/news/tk-25000-crore-refinance-scheme...,business,"Bangladesh Bank today unveiled a Tk 25,000 cro..."

In [13]:
df.tail()

,node_id,title,date,url,category,article
240,3075111,The Colors of Youth: celebrating art across co...,20-07-2022,/entertainment/theatre-arts/news/the-colors-yo...,entertainment,"""The Colors of Youth"", an exhibition run by Ab..."
241,3074206,Portraying the bucolic beauty of Bangladesh,21-07-2022,/entertainment/theatre-arts/news/portraying-th...,entertainment,Renowned artist Samar Majumder's third solo ex...
242,3074006,Prachyanat to stage ‘Dumurkheko Manush’ today,19-07-2022,/entertainment/theatre-arts/news/prachyanat-st...,entertainment,The certificate distribution ceremony for the ...
243,3066871,‘Beckoning Horizon’: Azmeer Hossain’s exhibit...,08-07-2022,/entertainment/theatre-arts/news/beckoning-hor...,entertainment,"Azmeer Hossain's fifth solo exhibition ""Beckon..."
244,3065521,Drik hosts regional photo contest in partnersh...,06-07-2022,/entertainment/theatre-arts/news/drik-hosts-re...,entertainment,The World Press Photo Foundation and Banglades...

In [14]:
df.to_csv('../input_data/news_paper_data.csv', index=False)